<header class="flex flex-row-reverse items-center justify-between py-10 reverse">
    <div class="flex items-center text-sm xl:text-base leading-5">
        <div class="block">
            <a class="p-1 font-heading font-medium text-gray-900 sm:p-4 dark:text-white hover:text-white dark:hover:text-secondary-500 uppercase mr-6 md:mr-0 xl:mr-0" href="/">Home</a>
            <a class="p-1 font-heading font-medium text-gray-900 sm:p-4 dark:text-white hover:text-white dark:hover:text-secondary-500 uppercase mr-6 md:mr-0 xl:mr-0" href="/about">About</a>
            <a class="p-1 font-heading font-medium text-gray-900 sm:p-4 dark:text-white hover:text-white dark:hover:text-secondary-500 uppercase mr-6 md:mr-0 xl:mr-0" href="/posts">Posts</a>
        </div>
        <button id="darkModeToggle" aria-label="Toggle Dark Mode" type="button" class="w-10 h-10 p-1 ml-1 mr-1 rounded sm:ml-4 fill-current hover:text-white dark:hover:text-secondary-500">
            <span class="block dark:hidden">
                {% include night-mode.svg %}
            </span>
            <span class="hidden dark:block">
                {% include day-mode.svg %}
            </span>
        </button>
    </div>
</header>