<!doctype html>
<html lang="en">
    {% include head.html %}
    <body class="antialiased text-black bg-white dark:bg-gray-900 dark:text-white">
        {% include background.html %}
        <div class="max-w-3xl px-4 mx-auto sm:px-6 xl:max-w-5xl xl:px-0">
            <div class="flex flex-col justify-between h-screen">
                {% include header.html %}
                <div class="mb-auto rounded-lg p-6 backdrop-blur bg-white/30">
                    <article>
                        <div class="divide-y divide-gray-900 dark:divide-gray-300 font-heading">
                            <div class="pt-6 pb-6">
                                <div class="space-y-1 text-center">
                                    <dl class="space-y-10">
                                        <div>
                                            <dt class="sr-only">Published on</dt>
                                            <dd class="text-base font-medium leading-6 text-gray-900 dark:text-gray-400">
                                                <time datetime="2019-10-11T00:00:00.000Z">
                                                    {{ page.date | date: "%-d %B %Y" }}
                                                </time>
                                            </dd>
                                        </div>
                                    </dl>
                                    <div>
                                        <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14 prose max-w-none">
                                            {{ page.title }}
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <div class="pb-8 divide-y divide-gray-900 xl:divide-y-0 dark:divide-gray-300 grid xl:grid-cols-4 xl:gap-x-6">
                                <dl class="pt-6 pb-3 xl:pt-11 xl:border-b xl:border-gray-900 xl:dark:border-gray-300 font-body">
                                    <div class="text-sm font-medium leading-5 divide-gray-900 xl:divide-y dark:divide-gray-300 xl:col-start-1 xl:row-start-2">
                                        <div class="pb-4 xl:pb-8 flex flex-row">
                                            <div class="flex-1">
                                                <h2 class="text-xs tracking-wide text-gray-900 uppercase dark:text-gray-400 mb-1 font-bold">
                                                    Category
                                                </h2>
                                                <div class="flex flex-wrap">
                                                    <a href="/category/{{ page.category | slugify }}" class="mr-3 text-sm font-medium uppercase text-primary-700 dark:text-secondary-400 hover:text-primary-600 dark:hover:text-secondary-500">
                                                        {{ page.category }}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="flex-1">
                                                <h2 class="text-xs tracking-wide text-gray-800 uppercase dark:text-gray-400 mb-1 font-bold">
                                                    Tags
                                                </h2>
                                                <div class="flex flex-row xl:flex-col flex-wrap">
                                                    {% for tag in page.tags %}
                                                    <a href="/tag/{{ tag | slugify }}" class="mr-3 text-sm font-medium uppercase text-primary-700 dark:text-secondary-400 hover:text-primary-600 dark:hover:text-secondary-500">
                                                        {{ tag }}
                                                    </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col justify-between pt-0 h-0 invisible xl:visible xl:h-auto xl:block xl:space-y-8 xl:pt-8 xl:pb-5">
                                            {% if page.previous.url != nil %}
                                            <div>
                                                <h2 class="text-xs tracking-wide text-gray-900 uppercase dark:text-gray-400 mb-1 font-bold">
                                                    Previous Article
                                                </h2>
                                                <div class="text-primary-700 dark:text-secondary-400 hover:text-primary-600 dark:hover:text-secondary-500 font-light">
                                                    <a href="{{ page.previous.url }}">
                                                        {{ page.previous.title }}
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if page.next.url != nil %}
                                            <div>
                                                <h2 class="text-xs tracking-wide text-gray-900 uppercase dark:text-gray-400 mb-1 font-bold">
                                                    Next Article
                                                </h2>
                                                <div class="text-primary-700 hover:text-primary-600 dark:hover:text-secondary-500 font-light">
                                                    <a href="{{ page.next.url }}">
                                                        {{ page.next.title }}
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </dl>
                                <div class="divide-y divide-gray-900 dark:divide-gray-300 xl:pb-0 xl:col-span-3 xl:row-span-2">
                                    <div class="pt-10 pb-8 prose prose-sm xl:prose dark:prose-dark max-w-none font-body">
                                        {{ content }}
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between pt-4 visible xl:invisible xl:space-y-8 xl:pt-8">
                                <div class="max-w-half">
                                    {% if page.previous.url != nil %}
                                        <h2 class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400 mb-1 font-bold">
                                            Previous Article
                                        </h2>
                                        <div class="text-primary-700 hover:text-primary-600 dark:hover:text-secondary-500 font-light">
                                            <a href="{{ page.previous.url }}">
                                                {{ page.previous.title }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="max-w-half">
                                    {% if page.next.url != nil %}
                                        <h2 class="text-xs tracking-wide text-gray-500 uppercase dark:text-gray-400 mb-1 font-bold">
                                            Next Article
                                        </h2>
                                        <div class="text-primary-700 hover:text-primary-600 dark:hover:text-secondary-500 font-light">
                                            <a href="{{ page.next.url }}">
                                                {{ page.next.title }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>